{# app/Resources/views/personnage/personnage.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}" />
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="#home">Crops Calendar</a>
        <a href="#news">Buy Crops</a>
        <a href="#contact">Statistics</a>
        <a href="#about">Personnages</a>
    </div>

    <footer>
        <a href="{{ path('logout') }}">Logout</a>
    </footer>
</body>
</html>