<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        html{
            background-color: #f3f3f3;
        }

        .form-basic{
            max-width: 640px;
            margin: 0 auto;
            padding: 55px;
            box-sizing: border-box;

            background-color:  #ffffff;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

            font: bold 14px sans-serif;
            text-align: center;
        }

        .form-basic .form-row{
            text-align: left;
            margin-bottom: 22px;
        }

        .form-basic .form-title-row{
            text-align: center;
            margin-bottom: 55px;
        }

        /* The form title */

        .form-basic h1{
            display: inline-block;
            box-sizing: border-box;
            color:  #4c565e;
            font-size: 24px;
            padding: 0 10px 15px;
            border-bottom: 2px solid #6caee0;
            margin: 0;
        }

        .form-basic .form-row > label span{
            display: inline-block;
            box-sizing: border-box;
            color: #5F5F5F;
            width: 180px;
            text-align: right;
            vertical-align: top;
            padding: 12px 25px;
        }

        .form-basic input{
            color:  #5f5f5f;
            box-sizing: border-box;
            width: 240px;
            box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
            padding: 12px;
            border: 1px solid #dbdbdb;
        }

        .form-basic select{
            background-color: #ffffff;
            color:  #5f5f5f;
            box-sizing: border-box;
            max-width: 240px;
            box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
            padding: 12px 8px;
            border: 1px solid #dbdbdb;
        }

        .form-basic textarea{
            color:  #5f5f5f;
            box-sizing: border-box;
            width: 240px;
            height: 80px;
            box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
            font: normal 13px sans-serif;
            padding: 12px;
            border: 1px solid #dbdbdb;
            resize: vertical;
        }

        .form-row button{
            display: block;
            border-radius: 2px;
            background-color:  #6caee0;
            color: #ffffff;
            font-weight: bold;
            box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
            padding: 14px 22px;
            border: 0;
            margin: 40px 183px 0;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor:pointer;
        }
        .form-row button:hover{
            background-color:  white;
            color: #6caee0;
        }
        .asText{
            background:none;
            border:none;
            margin:0;
            padding:0;
            cursor:pointer;
            color: #5F5F5F;
            font: bold 14px sans-serif;
            text-align: center;
        }
        .asText:hover{
            color: #6caee0;
        }
    </style>
</head>
<body>
    <div class="main-content">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form class="form-basic" method="post">
            <div class="form-title-row">
                <h1>Log In</h1>
            </div>
            <div class="form-row">
                <label for="username">
                    <span>Username</span>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </label>
            </div>

            <div class="form-row">
                <label for="password">
                    <span>Password</span>
                    <input type="password" id="password" name="_password" />
                </label>
            </div>
            <input type="hidden" name="_target_path" value="personnages" />
            <div class="form-row">
                <button type="submit">Log In</button>
            </div>
        </form>
        <form class="form-basic" action=" {{path('register')}} " method="post">
                <button class="asText" type="submit">Don't have an account?</button>
        </form>
    </div>
</body>
</html>